# AWS Configuration
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=us-east-1
S3_BUCKET=etf-pipline-s3

# S3 Prefix Configuration
S3_BRONZE_PREFIX=bronze/etf
S3_SILVER_PREFIX=silver/etf
S3_GOLD_PREFIX=gold/etf

# Spark Configuration
SPARK_MASTER=local[*]

# Postgres Configuration (for Gold layer)
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=finance_gold
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow

# Airflow Configuration
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__FERNET_KEY=KuaHGY36s3URGY6Kp1SXoE20X_SbSZdaJLVcQDVNVRg=
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=true
AIRFLOW__CORE__LOAD_EXAMPLES=false

# Superset Configuration
SUPERSET_SECRET_KEY=TBTeotLC0OB47ZMXfrlI2OvQOHzJNY5cNa8vFcvo8Im0PyAkRkiAK+E
